<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="main.java.ExamSystem.dao.EnterpriseCategoryDao">
	<resultMap id="eclist" type="EnterpriseCategory">
		<id property="ec_id" column="ec_id" />
        <result property="ec_name" column="ec_name"/>
	</resultMap>
	<select id="getAll" resultMap="eclist">
		select * from enterprise_category
	</select>
	
</mapper>

